SHRISH_FROM_EMAIL="Shrish Orders <orders@shrish.co>"
SHRISH_ADMIN_EMAIL="orders@shrish.co"
SHRISH_SUPPORT_PHONE="+1 (765) 325-5577"
SHRISH_INSTAGRAM_URL="https://www.instagram.com/shrish_llc/"
SHRISH_WHATSAPP_URL="https://wa.me/17653255577"
STRIPE_PAYMENTS_ENABLED="false"
SHRISH_GOOGLE_MAPS_API_KEY=""
SHRISH_VA_SALES_TAX_RATE="0.01"
SHRISH_STANDARD_SHIPPING_AMOUNT="8.99"
SHRISH_FREE_SHIPPING_THRESHOLD="75"
POSTHOG_HOST="https://us.posthog.com"
POSTHOG_PROJECT_ID="409686"

# Set these as Firebase Functions secrets, not plain env values:
# firebase functions:secrets:set RESEND_API_KEY
# firebase functions:secrets:set STRIPE_SECRET_KEY
# firebase functions:secrets:set STRIPE_WEBHOOK_SECRET
# firebase functions:secrets:set POSTHOG_PERSONAL_API_KEY
