SHRISH_FROM_EMAIL="Shrish Orders <orders@shrish.co>"
SHRISH_ADMIN_EMAIL="orders@shrish.co"
SHRISH_SUPPORT_PHONE="+1 (765) 325-5577"
SHRISH_INSTAGRAM_URL="https://www.instagram.com/richmond_mangos/"
SHRISH_WHATSAPP_URL="https://wa.me/17653255577"
